In [5]:
name = "alok"
address,province = "Jl.Bermuda","7413413"
age = 28
scorePython = 85.7
isMarried = True

print("Nama :",name)
print("Alamat :",address)
print("Umur :",age)
print("Nilai Pemograman :",scorePython)
print("Status Menikah :",isMarried)
print("Propinsi ",province)

Nama : alok
Alamat : Jl.Bermuda
Umur : 28
Nilai Pemograman : 85.7
Status Menikah : True
Propinsi  7413413

In [6]:
print("Tipe data <name> :",type(name))
print("Tipe data <address> :",type(address))
print("Tipe data <age> :",type(age))
print("Tipe data <scorePython> :",type(scorePython))
print("Tipe data <isMarried> :",type(isMarried))
print("Tipe data <province> ",type(province))

Tipe data <name> : <class 'str'>
Tipe data <address> : <class 'str'>
Tipe data <age> : <class 'int'>
Tipe data <scorePython> : <class 'float'>
Tipe data <isMarried> : <class 'bool'>
Tipe data <province>  <class 'str'>

In [7]:
#Casting / Konversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="-")

7413415-7413413.0-True

In [9]:
#2. Int ke (str,float,boolean)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")

28-28.0-True

In [10]:
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr,floatToInt,floatToBool, sep="-")

85.7-85-True

In [12]:
desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0x443 #1091

print("Nilai desimal :",desimal)
print("Nilai biner :",biner)
print("Nilai octal :",octal)
print("Nilai hexa :",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai octal dari ",desimal, ":",oct(desimal))
print("Nilai hexa dari ",desimal, ":",hex(desimal))

Nilai desimal : 500
Nilai biner : 10
Nilai octal : 255
Nilai hexa : 1091
Nilai biner dari  500 : 0b111110100
Nilai octal dari  500 : 0o764
Nilai hexa dari  500 : 0x1f4

In [16]:
city = "PEAK"
length = len(city)
print(city[0])
print(length)
print(city[length - 3])
print(city[length - 2])
print(city[length - 1])

P
4
E
A
K

In [30]:
#Tipe data collection
cities = ["Peak","Mill","Pochinok","factory"]
length = len(cities)
print(cities)
print(cities[0])
print(cities[length - 1])
print(cities[length - 1][0])
print(cities[length - 1][len(cities[length-1])-1])
cities[0] = "Cape town"
print(cities)

names = ("Ronaldo","Rooney","Tevez")
print(names)
print(names[1])

studentData = {
    "name" : "Mia Khalifa",
    "age" : 32,
    "address" : {
        "street" : "Warungkiara",
        "number" : 10,
        "province" : "Java"
    },
    "isMariied" : True,
    "hobbies" : ["education biology","Streamer"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"])
print(studentData["hobbies"][0])

studentList = [
    {
        "name" : "Mia Khalifa",
        "age" : 32,
        "address" : {
            "street" : "Warungkiara",
            "number" : 10,
            "province" : "Java"
        },
        "isMariied" : True,
        "hobbies" : ["education biology","Streamer"]
    },
    {
        "name" : "Naruto",
        "age" : 19,
        "address" : {
            "street" : "Konoha",
            "number" : 7,
            "province" : "java"
        },
        "isMariied" : True,
        "hobbies" : ["Gammer","Coocking"]
        }
]

print(studentList[0])
print(studentList[1]["address"]["province"])
print(studentList[0]["hobbies"])

['Peak', 'Mill', 'Pochinok', 'factory']
Peak
factory
f
y
['Cape town', 'Mill', 'Pochinok', 'factory']
('Ronaldo', 'Rooney', 'Tevez')
Rooney
{'name': 'Mia Khalifa', 'age': 32, 'address': {'street': 'Warungkiara', 'number': 10, 'province': 'Java'}, 'isMariied': True, 'hobbies': ['education biology', 'Streamer']}
32
{'street': 'Warungkiara', 'number': 10, 'province': 'Java'}
education biology
{'name': 'Mia Khalifa', 'age': 32, 'address': {'street': 'Warungkiara', 'number': 10, 'province': 'Java'}, 'isMariied': True, 'hobbies': ['education biology', 'Streamer']}
java
['education biology', 'Streamer']

In [35]:
#konversi dictionary

list_list = [["name","Andi"],["age","30"],["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("name","Rudi"),("Adress","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)
               
tuple_list = (["name","Tiger"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("name","crocodile"),("Type","Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

{'name': 'Andi', 'age': '30', 'Status': True}
{'name': 'Rudi', 'Adress': 'Bogor'}
{'name': 'Tiger', 'Type': 'Mamalia'}
{'name': 'crocodile', 'Type': 'Reptile'}